* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* list-style-type: none; */
    text-decoration: none;
    transition: all 0.3s linear;
    outline: none;
    scroll-behavior: smooth;
}

body {
    padding-top: 5%;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-family: 36px;
    font-weight: 600;
    font-size: 4rem;
}

p {
    font-size: 14;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

span {
    font-weight: bold;
}

h3 {
    font-weight: 600;
    padding: 10px 0;
}

h5 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.start {
    margin-bottom: 5%;
}

.info {
    width: 90%;
    margin: auto;
    text-align: center;
}

.info .row {
    display: flex;
    justify-content: space-between;
}

.info .row .two {
    flex-basis: 48%;
    background: rgb(209, 236, 255);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 15px;
}

.info .row .two:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.info .row .two h1 {
    padding-bottom: 5px;
}

.info .row .two p {
    text-align: left;
    padding: 0;
}

.info .row .three {
    flex-basis: 31%;
    background: rgb(209, 236, 255);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 15px;
}

.info .row .three:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.info .row .three p {
    text-align: left;
    padding: 0;
}

.info .row .three ul {
    text-align: left;
    padding-left: 20px;
}